@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap);

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
img {
  display: block;
}
p {
  font-family: "Roboto";
}
.headerContainer {
  background-image: url("./images/header-background.jpg");
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: 25% 100%;
}
.headerContainer h1 {
  font-family: "Berkshire Swash";
  font-size: 2.5rem;
  padding: 40px 70px;
  background-color: #ffffff6e;
}
h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 1.8rem;
}
.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 70px auto;
}
.productCard {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  margin: 0 auto 70px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(219, 219, 219, 0.568);
}
.productImageContainer {
  position: relative;
}
.productBadge {
  position: absolute;
  top: -5px;
  right: 0;
  width: 20%;
  background-color: orange;
  color: white;
  align-self: flex-end;
  border-radius: 5px;
  margin: -10px -10px -19px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.productImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.productOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.productImageContainer:hover .productOverlay {
  opacity: 1;
}
.quickView {
  padding: 10px 15px;
  background-color: #f39c12;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.productDiscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.price {
  font-size: large;
  font-weight: 700;
  align-self: flex-end;
}
.price .number {
  font-family: "Berkshire Swash";
  font-size: 35px;
}
.rating {
  display: flex;
  align-items: center;
}
.inputsContainer {
  display: flex;
  justify-content: space-between;
}
.chooseColor {
  display: flex;
  flex-direction: column;
}
.chooseColor label {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
}
#color {
  background-color: rgb(244, 243, 243);
  border-radius: 3px;
}
.chooseSize {
  display: flex;
  flex-direction: column;
}
.chooseSize label {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
}
.sizeInputContainer {
  display: flex;
  align-items: center;
}
.sizeInputContainer button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgb(52, 152, 218);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}
input {
  padding: 5px 5px;
}
select {
  padding: 5px 5px;
}
.buyButton {
  cursor: pointer;
  padding: 10px;
  margin-top: 40px;
  background-color: #ef9a10;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.buyButton:hover {
  transform: scale(1.02);
  background-color: #e5af0e;
}
