* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  display: block;
}
header h1 {
  text-align: center;
  font-size: 2rem;
  margin: 50px auto 0 auto;
}
main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 70px auto;
}
.card {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 70px;
}
.imageContainer {
  display: flex;
  justify-content: center;
}
.imageContainer img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: -75px;
  object-fit: cover;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.imageContainer img:hover {
  transform: translate3d(0, -5px, 0);
  transition: transform 0.35s;
}
.actorInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.actorInfoContainer p {
  align-self: flex-end;
  font-weight: 800;
}
.filmInfoContainer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(152, 223, 244);
  border-bottom: 2px solid rgb(152, 223, 244);
}
.filmDescriptionContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-top: 13px;
}
.filmDescriptionContainer h3,
p,
img {
  margin: 0;
}
.filmDescriptionContainer p {
  color: rgb(103, 103, 103);
}

.filmDescriptionContainer .imdbLogo {
  align-self: flex-end;
  margin-top: 10px;
}
.shortInformation p {
  text-align: justify;
  font-size: 0.9rem;
  color: rgb(103, 103, 103);
}
.awardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.awardInfo {
  align-self: flex-end;
}
.awardInfo p {
  text-align: right;
  font-weight: 800;
}
.winsText {
  color: rgb(27, 136, 92);
}
.nominationsText {
  color: rgb(255, 205, 55);
}
