* {
  box-sizing: border-box;
  text-align: center;
}
body {
  margin: 0;
  background-color: rgba(243, 240, 237, 0.765);
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin: 50px auto;
  padding: 0 20px;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 30px 0px;
  background-color: rgb(83, 86, 76);
  color: rgb(255, 255, 255);
}
.month {
  background-color: rgb(255, 255, 255);
}
.daysContainer {
  padding: 0 20px;
}
.week ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-left: 0;
  gap: 10px;
}
ul {
  display: flex;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 5px;
}
.currentMonthDay {
  background-color: rgb(239, 239, 239);
}
.today {
  border: 3px solid rgb(145, 44, 44);
}
